<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975798466443-li62epo5bfimc625jljoljiuvamjlncj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975798466443-li62epo5bfimc625jljoljiuvamjlncj</string>
	<key>API_KEY</key>
	<string>AIzaSyDQhVyOUIk3GJ-gSXjLkWw3R59MVAZuMBo</string>
	<key>GCM_SENDER_ID</key>
	<string>975798466443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VitorSpessoto.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-f3e2a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-f3e2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975798466443:ios:416a72b5d053fe8e</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-f3e2a.firebaseio.com</string>
</dict>
</plist>